<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>servlets.servlet1</servlet-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>/recurso/info</param-value>
        </init-param>
        <init-param>
            <param-name>dimension</param-name>
            <param-value>30</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>servlet0</servlet-name>
        <servlet-class>servlets.servlet0</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet0</servlet-name>
        <url-pattern>/servlet0</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>parametroContexto</param-name>
        <param-value>"valorParametro"</param-value>
    </context-param>
</web-app>
